.e
{
    text-align: center;
    
}
.ee{
    text-align: center;
    width:400px;
    text-decoration: none;
    
}
li{
    text-decoration: none;
    text-decoration-line:none;
    color:black;
  
}
